@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url("nuFiD-vYSZviVYUb_rj3ij__anPXDTzYhA.eot")/*tpa=https://fonts.gstatic.com/s/playfairdisplay/v13/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYhA.eot*/;
}
